/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #991919, #8a0e0e, #850a27, #970d0d, #940707);
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
    min-height: 100vh;
}

.page-content {
    min-height: 1200px;
}